*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);

}
html{
    scroll-behavior: smooth;
    
}

        
   section nav {
       display: flex;
       justify-content: space-around;
       align-items: center;
       position: fixed;
       right: 0;
       left: 0;
       background: black;
       box-shadow: 0 0 10px rgba(0, 0 , 0, 0 ,5);
       z-index: 1000;
       
   
   }
   section nav .logo img{
       width: 100px;
       cursor: pointer;
       margin: 3px 0 ;
       margin-right: 10px;
   
   }
    section nav ul {
       list-style: none;
    }
    
    section nav ul li {
       display: inline-block;
       margin: 0 15px;
    }
   
    section nav ul li a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: 500;
        font-size: 17px;
    }
   
   
    section nav ul li a::after{
       content: '' ;
       width: 100%;
       height: 2px;
       background: yellow;
       display: block;
   
    }
    section nav ul li a:hover{
       color: aqua;
    }

.menu{
    width: 100%;
    padding: 70px 0;

}
.menu h1{
    margin-top: 100px;
    color: rgb(38, 89, 133);
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.menu h2{
    color: rgb(71, 71, 17);
    font-size: 25px;
    display: flex;
    width: 60% ;
    text-align: center;
    margin: 30px 10px 40px auto;

}
.menu p{
    color: rgb(0, 0, 0);
    text-align: center ;
    margin-top: 8px;

}
.menu h3{
    text-align: center;
    margin-top: 10px;
    color: aqua;


}
.menu .menu_icon{
    color: yellow;
    text-align: center;
    margin: 10px 0 20px 0;
}
.menu .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: rgb(43, 111, 214);
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;

}




.menu h1 span{
    color: yellow;
    margin-left: 15px;
    font-family: mv boli;
}
.menu h1 span::after{
    content:'' ;
    width: 100%;
    height: 2px;
    background: white;
    display: block;
    position: relative;
    bottom: 15px;
}
.menu .menu_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;

}
.menu .menu_box .menu_card{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgb(112, 110, 110);
}
.menu .menu_box .menu_card .menu_image{
    width: 250px;
    height:  200px;
    margin: 0 auto;
    overflow: hidden;

}


.menu .menu_box .menu_card .menu_image img{
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
}


