*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);

}
html{
    scroll-behavior: smooth; 
}

        
   section nav {
       display: flex;
       justify-content: space-around;
       align-items: center;
       position: fixed;
       right: 0;
       left: 0;
       background: rgb(255, 255, 255);
       box-shadow: 0 0 10px rgba(0, 0 , 0, 0 ,5);
       z-index: 1000;
       
   
   }
   section nav .logo img{
       width: 100px;
       cursor: pointer;
       margin: 3px 0 ;
       margin-right: 10px;
   
   }
    section nav ul {
       list-style: none;
    }
    
    section nav ul li {
       display: inline-block;
       margin: 0 15px;
    }
   
    section nav ul li a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: 500;
        font-size: 17px;
    }
   
   
    section nav ul li a::after{
       content: '' ;
       width: 100%;
       height: 2px;
       background: yellow;
       display: block;
   
    }
    section nav ul li a:hover{
       color: aqua;
    }

    .order{
        width: 100%;
        height: 100vh;
        padding: 70px 0;
    }
    .order h1{
        margin-top: 100px;
        display: flex;
        align-items:center ;
        justify-content: center;
        color: rgb(25, 88, 159);
        font-size: 55px;
    }
    .order h1 span{
        color: yellow;
        margin-right: 15px;
        font-family: mv boli;

    }
    .order h1 span::after{
        content: '';
        width: 100%;
        height: 2px;
        background: yellow;
        display: block;
        position:relative;
        bottom: 15px;

    }
    .order .order_main{
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    .order .order_main .order_image img{
        width: 600px;
    }
    .order .order_main form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 10px;
    }
    .order .order_main form .input p{
        line-height: 25px;

    }
    .order .order_main form .input{
        margin: 5px;
    }
    .order .order_main form .input input{
        width: 300px ;
        height: 35px;
        padding:  0 10px;
        border: 2px rgb(255, 0, 0);
        background-color: rgb(3, 80, 85);
        outline: none;
        border-radius: 3px;
    }

    .order .order_main form .input input:focus{
        border: 2px solid yellow;
    }
    .order .order_main form .order_btn
{
    padding: 10px 0;
    background: rgb(238, 159, 11);
    color: white;
    width: 40%;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}


